body{
    display:flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    width:650px;
    margin:auto;
    justify-content: center;
    margin-top:50px;
}

h1{
    font-weight:900;
    font-size:45px;
}

p{
    font-size: 16px;
}

