body{
    display:flex;
    font-family: 'Open Sans', sans-serif;
    width:1200px;
    gap: 100px;
    margin:auto;
    justify-content: center;
    margin-top:50px;
}

h1{
    font-weight:900;
    font-size:60px;
}

p{
    width:500px;
    font-size: 18px;
}

