body{
    margin:0;
    font-family: 'Unbounded', cursive;

}
section{
    height:700px;
}

#header{
    display:flex;
    margin:0;
    justify-content: center;
    align-items: center;
    background-image: url(images/headerimgjpg.jpg);
    filter: blur(0.25px);
    padding-bottom:0;
}


h1, #header p{
    text-align: center;
    font-family: 'Unbounded', cursive;
    color: #fffafff9;
    animation: floating 5s ease infinite;
}

h1{
    font-size: 100px;
    margin-bottom:0;
    font-weight:900;
}

#header p{
    padding-top:0;
    font-size: 50px;
    font-weight:900;
}

h2{
    text-align:center;
    margin:0;
    font-family: 'Unbounded', cursive;
    font-size: 25px;
    padding-bottom:20px;
}

figcaption{
    font-family: 'Unbounded', cursive;
}


#imgsection{
    background-color: #1c1916;
    color:white;
}

#imgsection h2{
    padding-top:130px;

}

#imagegroup{
    display:flex;
    justify-content: center;
    align-items: center;
}

img{
    display:block;
    width:300px;
    height:300px;
    border: 3px #FFFEF0 solid ;
    border-radius: 10px;
}

figcaption{
    text-align:center;
    padding-top:20px;
}


#map { 
    height: 500px; 
    width:1100px;
    margin:auto;

}

#mapsection{
    background-color:#FFFEF0;
}

#mapsection h2{
    padding-top:50px;
    
}

footer{
    height:100px;
    background-color:#1c1916;
    text-align:center;
    padding:70px;
}

footer h2{
    margin-bottom:0;
    padding-bottom:0;
}

footer h2, footer p, footer a{
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover{
    text-decoration:underline;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}